DentalSuite/WebPortal/App_WebReferences/WSCitas/Citas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20001/SOAPServices/Citas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" />
  <xs:element name="registrarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="cita" nillable="true" type="q1:Cita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="registrarCitaResult" nillable="true" type="q2:RespuestaServiceOfCitaz_SY3AMPv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="cita" nillable="true" type="q3:Cita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="modificarCitaResult" nillable="true" type="q4:RespuestaServiceOfCitaz_SY3AMPv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="cita" nillable="true" type="q5:Cita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelarCitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCitas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="listarCitasResult" nillable="true" type="q6:ArrayOfCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCitas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="especialidad" type="xs:int" />
        <xs:element minOccurs="0" name="odontologo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" minOccurs="0" name="consultarCitasResult" nillable="true" type="q7:ArrayOfConsultaCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>