DentalSuite/DSDTest/Service References/PacienteWS/Pacientes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="RespuestaServiceOfPacientez_SY3AMPv">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Paciente" Namespace="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaseOrigen" nillable="true" type="tns:Paciente" />
      <xs:element minOccurs="0" name="MensajeDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetodoOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServiceOfPacientez_SY3AMPv" nillable="true" type="tns:RespuestaServiceOfPacientez_SY3AMPv" />
  <xs:complexType name="ArrayOfPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paciente" nillable="true" type="tns:Paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaciente" nillable="true" type="tns:ArrayOfPaciente" />
</xs:schema>