DentalSuite/SOAPServicesTest/Service References/EspecialidadWS/Especialidades2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidad" nillable="true" type="tns:Especialidad" />
  <xs:complexType name="RespuestaServiceOfEspecialidadHfBKg5Lh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Especialidad" Namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaseOrigen" nillable="true" type="tns:Especialidad" />
      <xs:element minOccurs="0" name="MensajeDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetodoOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServiceOfEspecialidadHfBKg5Lh" nillable="true" type="tns:RespuestaServiceOfEspecialidadHfBKg5Lh" />
  <xs:complexType name="ArrayOfEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidad" nillable="true" type="tns:Especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidad" nillable="true" type="tns:ArrayOfEspecialidad" />
</xs:schema>