DentalSuite/DSDServicesTEST/Service References/CitaWS/Citas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Citas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20001/SOAPServices/Citas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20001/SOAPServices/Citas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20001/SOAPServices/Citas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSDServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICitas_registrarCita_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarCita" />
  </wsdl:message>
  <wsdl:message name="ICitas_registrarCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="ICitas_modificarCita_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarCita" />
  </wsdl:message>
  <wsdl:message name="ICitas_modificarCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="ICitas_cancelarCita_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelarCita" />
  </wsdl:message>
  <wsdl:message name="ICitas_cancelarCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="ICitas_listarCitas_InputMessage">
    <wsdl:part name="parameters" element="tns:listarCitas" />
  </wsdl:message>
  <wsdl:message name="ICitas_listarCitas_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarCitasResponse" />
  </wsdl:message>
  <wsdl:message name="ICitas_listarCitasPacienteAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:listarCitasPacienteAdministrador" />
  </wsdl:message>
  <wsdl:message name="ICitas_listarCitasPacienteAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarCitasPacienteAdministradorResponse" />
  </wsdl:message>
  <wsdl:portType name="ICitas">
    <wsdl:operation name="registrarCita">
      <wsdl:input wsaw:Action="http://tempuri.org/ICitas/registrarCita" message="tns:ICitas_registrarCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICitas/registrarCitaResponse" message="tns:ICitas_registrarCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarCita">
      <wsdl:input wsaw:Action="http://tempuri.org/ICitas/modificarCita" message="tns:ICitas_modificarCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICitas/modificarCitaResponse" message="tns:ICitas_modificarCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelarCita">
      <wsdl:input wsaw:Action="http://tempuri.org/ICitas/cancelarCita" message="tns:ICitas_cancelarCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICitas/cancelarCitaResponse" message="tns:ICitas_cancelarCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarCitas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICitas/listarCitas" message="tns:ICitas_listarCitas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICitas/listarCitasResponse" message="tns:ICitas_listarCitas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarCitasPacienteAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/ICitas/listarCitasPacienteAdministrador" message="tns:ICitas_listarCitasPacienteAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICitas/listarCitasPacienteAdministradorResponse" message="tns:ICitas_listarCitasPacienteAdministrador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICitas" type="tns:ICitas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarCita">
      <soap:operation soapAction="http://tempuri.org/ICitas/registrarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCita">
      <soap:operation soapAction="http://tempuri.org/ICitas/modificarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarCita">
      <soap:operation soapAction="http://tempuri.org/ICitas/cancelarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCitas">
      <soap:operation soapAction="http://tempuri.org/ICitas/listarCitas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCitasPacienteAdministrador">
      <soap:operation soapAction="http://tempuri.org/ICitas/listarCitasPacienteAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Citas">
    <wsdl:port name="BasicHttpBinding_ICitas" binding="tns:BasicHttpBinding_ICitas">
      <soap:address location="http://localhost:20001/SOAPServices/Citas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>