trunk/DentalSuite/SOAPServicesTest/Service References/EspecialidadWS/Especialidades1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20001/Servicios/Especialidades/Especialidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="grabarEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="especialidad" nillable="true" type="q1:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grabarEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="grabarEspecialidadResult" nillable="true" type="q2:RespuestaServiceOfEspecialidadHfBKg5Lh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="especialidad" nillable="true" type="q3:Especialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="modificarEspecialidadResult" nillable="true" type="q4:RespuestaServiceOfEspecialidadHfBKg5Lh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEspecialidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="listarEspecialidadResult" nillable="true" type="q5:ArrayOfEspecialidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>