trunk/DentalSuite/SOAPServicesTest/Service References/PacienteWS/Pacientes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11056/Pacientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="registrarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="paciente" nillable="true" type="q1:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="registrarPacienteResult" nillable="true" type="q2:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="paciente" nillable="true" type="q3:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="modificarPacienteResult" nillable="true" type="q4:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPacientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPacientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="listarPacientesResult" nillable="true" type="q5:ArrayOfPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validarClaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensajeDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearMensajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="crearMensajeResult" nillable="true" type="q6:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generarCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clase" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generarCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generarCodigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>